{% extends '../main/base.html' %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h1 class="display-4 text-center big-display">Adicionar novo paciente</h1>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-8">
        {% if erro %}
        <div class="alert alert-danger">
          <h3 class="text-center">{{ erro }}</h3>
        </div>
        {% endif %}

        <form method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label for="nome">Nome*</label>
            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome do paciente" required>
          </div>

          <div class="form-group">
            <label for="idade">Idade*</label>
            <input type="text" name="idade" id="idade" class="form-control" placeholder="Idade do paciente" required>
          </div>

          <div class="form-group">
            <label for="cpf">CPF*</label>
            {% if errocpf %}
            <input type="text" name="cpf" id="cpf" class="form-control is-invalid" placeholder="CPF do paciente"
              required>
            <div class="invalid-feedback">
              {{ errocpf }}
            </div>
            {% else %}
            <input type="text" name="cpf" id="cpf" class="form-control" placeholder="CPF do paciente" required>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="sexo">Sexo*</label>
            <select class="form-control" name="sexo" id='sexo'>
              <option value="Masculino">Masculino</option>
              <option value="Feminino">Feminino</option>
            </select>
          </div>

          <div class="d-flex justify-content-end">
            <a href="{% url 'paciente:menupaciente' %}" class="btn btn-danger mt-3 mr-4">Cancelar</a>
            <button type="submit" class="btn btn-primary mt-3">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
