{% extends '../main/base.html' %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h1 class="display-4 text-center big-display">Pacientes</h1>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 mx-auto">
        <a href="{% url 'paciente:criarpaciente' %}" class="btn btn-primary btn-block mb-4"><i class="fas fa-plus mr-1"></i> CADASTRAR PACIENTE</a>
      </div>
      <div class="col-lg-6 ml-auto">
        <form method="GET">
          {% csrf_token %}

          <div class="form-group">
            <div class="input-group">
              <input type="text" name="nome" class="form-control" placeholder="Nome do paciente">
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-dark">Pesquisar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-5">
      {% if pacientes %}
        <h3 class="ml-3">{{ pacientes.count }} paciente{{ pacientes.count|pluralize }} encontrado{{ pacientes.count|pluralize }}</h3>
      {% else %}
        <h3>Nenhum paciente encontrado</h3>
      {% endif %}
    </div>

    {% if pacientes %}
      <div class="row mt-3">
        {% for paciente in pacientes %}
          <div class="col-lg-3">
            <div class="card mb-4">
              <div class="card-header bg-dark text-white text-center py-4">
                <h3 class="mb-0 medium-display">{{ paciente.nome|striptags|truncatechars:23 }}</h3>
              </div>
              <div class="card-body">
                <p class="card-info">Idade: {{ paciente.idade }}</p>
                <p class="card-info">CPF: {{ paciente.cpf }}</p>
                <p class="card-info mb-0">Sexo: {{ paciente.sexo }}</p>
              </div>
              <div class="card-footer text-center">
                <a href="{% url 'paciente:verpaciente' paciente.id %}" class="btn btn-primary">Detalhes</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
