{% extends '../main/base.html' %}

{% block content %}
  <section class="py-5">
    <a href="{% url 'paciente:menupaciente' %}" class="btn btn-outline-primary" id="back-button">Voltar</a>
    <div class="container">
      <h1 class="display-4 text-center" id="giant-display">Detalhes sobre {{ paciente.nome }}</h1>
      <div class="row justify-content-center mt-5">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header bg-dark text-center text-white py-3">
              <h3>{{ paciente.nome }}</h3>
            </div>
            <div class="card-body">
              <p class="lead">Idade: {{ paciente.idade }} anos</p>
              <p class="lead">CPF: {{ paciente.cpf }}</p>
              <p class="lead mb-0">Sexo: {{ paciente.sexo }}</p>
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'paciente:editarpaciente' paciente.id %}" class="btn btn-warning mr-3"><i class="fas fa-pencil-alt"></i> Editar</a>
              <form method="POST" action="{% url 'paciente:deletarpaciente' paciente.id %}" class="d-inline text-white">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Excluir</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
