{% extends '../main/base.html' %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <h1 class="display-4 text-center big-display">Detalhes sobre {{ paciente.nome }}</h1>
      <div class="row justify-content-center mt-5">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <p style="font-weight: 300;">Nome: {{ paciente.nome }}</p>
              <p style="font-weight: 300;">Idade: {{ paciente.idade }} anos</p>
              <p style="font-weight: 300;">CPF: {{ paciente.cpf }}</p>
              <p class="mb-0" style="font-weight: 300;">Sexo: {{ paciente.sexo }}</p>
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'paciente:editarpaciente' paciente.id %}" class="btn btn-warning mr-3"><i class="fas fa-pencil-alt"></i> Editar</a>
              <form method="POST" action="{% url 'paciente:deletarpaciente' paciente.id %}" class="d-inline text-white">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Excluir</button>
              </form>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'paciente:menupaciente' %}" class="btn btn-primary"><i class="fas fa-arrow-left mr-2"></i>Voltar</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
