{% extends '../main/base.html' %}

{% block content %}

  <section class="py-5">
    <div class="container">
      <h1 class="display-4 text-center mb-5">Colaborações</h1>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <a href="{% url 'colaboracao:criarcolaboracao' %}" class="btn btn-primary btn-lg btn-block align-self-center"> <span style="font-size: 16px;">ADICIONAR NOVA COLABORAÇÃO</span>
          </a>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col-md-12 text-center">
          {% if colaboracoes %}
            <div class="table-responsive ">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Data</th>
                    <th scope="col" class="text-center">Paciente</th>
                    <th scope="col" class="text-center">Medicamento</th>
                    <th scope="col" class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for colaboracao in colaboracoes %}
                    <tr>
                      <th class="text-center">{{ colaboracao.id }}</th>
                      <th class="text-center">{{ colaboracao.data|date:'j M Y' }}</th>
                      <th class="text-center">{{ colaboracao.paciente.nome }}</th>
                      <th class="text-center">{{ colaboracao.medicamento.nome }}</th>
                      <th class="text-center"><a href="{% url 'colaboracao:vercolaboracao' colaboracao.id %}" class="btn btn-primary">Detalhes</a></th>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <h2 class="display-4">Sem colaborações ainda :(</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}
