{% extends '../main/base.html' %}

{% block content %}
  <section class="py-5">
    <a href="{% url 'medicamento:menumedicamento' %}" class="btn btn-outline-primary" id="back-button">Voltar</a>
    <div class="container">
      <h1 class="display-4 text-center" id="big-display">Detalhes de {{ medicamento.nome }}</h1>
      <div class="row justify-content-center mt-5" id="card-row">
        <div class="col-lg-4 text-center">
          <div class="card mt-5">
            <div class="card-header bg-dark text-white py-3">
              <h2>{{ medicamento.nome }}</h2>
            </div>
            <div class="card-body">
              {% if medicamento.marca %}
                <p class="lead">Marca: {{ medicamento.marca }}</p>
              {% endif %}

              <p class="lead">Quantidade em estoque: {{ medicamento.quantidade }}</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'medicamento:editarmedicamento' medicamento.id %}" class="btn btn-warning mr-3"><i class="fas fa-pencil-alt"></i> Editar</a>
              <form method="POST" class="d-inline" action="{% url 'medicamento:deletarmedicamento' medicamento.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Excluir</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
