body {
  font-family: 'Roboto', sans-serif;
}

#login-form {
  margin-top: 140px;
}

#tabela-colaboracao {
  height: 450px;
  overflow: auto;
  overflow-x: hidden;
}

#tabela-colaboracao th {
  font-weight: 400;
}

#tabela-colaboracao::-webkit-scrollbar {
  width: 10px;
}

#tabela-colaboracao::-webkit-scrollbar-track {
  background: #B1B1B1;
}

#tabela-colaboracao::-webkit-scrollbar-thumb {
  background: #343a40;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background: #B1B1B1;
}

body::-webkit-scrollbar-thumb {
  background: #343a40;
}

/* Font sizes */

.card-info {
  font-size: 16px;
  font-weight: 300;
}

.big-display {
  font-size: 45px;
}

.medium-display {
  font-size: 20px;
}

/* Medias Queries */

@media(max-width:991px) {
  .navbar-brand {
    margin-left: 0 !important;
  }

  #logo-navbar {
    margin-left: 0 !important;
  }

  #sair-button {
    margin-top: 20px;
    margin-left: 0 !important;
  }
}

@media(max-width:768px) {
  .big-display {
    font-size: 35px;
  }

  .medium-display {
    font-size: 15px;
  }

  #card-row {
    margin-top: 0 !important;
  }

  #login-form {
    margin-top: 120px !important;
    box-shadow: 1px -2px 20px #7A7A7A !important;
  }
}
